
.img {
    max-height: 200px;
}
 
.component {
    padding: 10px;
    display: inline-flex;
    background-color: #FCF5E5;
}

.component:hover {
    transform: scale(1.02);
  }

.postCopy {
    width: 60%;
    display: inline-block;
    padding-left: 20px;
}

